* {
    box-sizing: border-box;
}

body {
    color: #333;
    background-image: url("../imgs/pink dust.png");
    background-color: #333;
    color: #333;
    font-size: 100%;
}

.card-body,
pre {
    max-width: auto;
    font-family: 'Miltonian Tattoo';
}

.recipe-box .card {
    max-width: 730px;
    font-size: 1.1em;
    margin-bottom: 20px;
}

.card-header {
    margin-bottom: 10px;
}

#recipeTitle {
    font-size: 1.25em;
    line-height: 1.1em;
}

nav {
    font-family: 'Rock Salt', cursive;
}

.navbar-brand {
    font-size: x-large;
}

.card-img {
    width: 100px;
}

.badge-pill {
    margin-right: 7px;
}

.jumbotron {
    font-family: 'Miltonian Tattoo', cursive;
}

#newRecipeModal {
    font-family: 'Miltonian Tattoo', cursive;
}

.ingredient-box, .steps-box, .ingredientList, .ingredient {
    font-family: Arial, Helvetica, sans-serif;
}

.bg-dark {
    color: white;
}

.container {
    margin-bottom: 10px;
}